.servico-bg {
  background: var(--cor-2);
  height: 1400px;
  display: block;
}
.titulo-prinicipal {
  font-family: var(--font-titulo);
  font-size: 2.5rem;
  color: var(--cor-1);
  display: grid;
  text-align: center;
}
.carousel {
  justify-self: center;
}
.carousel-container {
  display: grid;
  grid-template-columns: 1fr;
}
.carousel-item {
  width: 900px;
  height: 1000px;
}
#carouselExample2 {
  margin-top: -350px;
}
@media (min-width: 768px) and (max-width: 1105px) {
  .servico-bg {
    display: inline-block; 
    width: 900px; 
    height: auto;
  }
  .titulo-prinicipal {
    font-size: 2rem;
    margin-top: 50px;
  }
  .carousel-item {
    width: 500px;
    height: 400px;
  }
  #carouselExample1 {
    margin-top: 30px;
  }
   #carouselExample2 {
    margin-top: -30px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .servico-bg {
    background: var(--cor-2);
    height:auto;
    width: 480px;
    display: inline-block;  
  }
  .titulo-prinicipal {
    font-size: 1rem;
    margin-top: 20px;
  }
  .carousel-item {
    width: 350px;
    height: 200px;
  }
  #carouselExample2 {
    margin-top: 30px;
  }
}
@media(max-width:480px){
  .servico-bg {
    background: var(--cor-2);
    height:100vh;
    width: 480px;
    display: inline-block;  
  }
  .titulo-prinicipal {
    font-size: 1.4rem;
    margin-top: 40px;
    margin-right: 110px;
  }
  .carousel-item {
    width: 350px;
    height: 500px;
  }
  #carouselExample1 {
    margin-top: 30px;
    margin-right: 110px;
  }
  #carouselExample2 {
    margin-top: -160px;
    margin-right: 110px;
  }
}
